$darkgrey: #595959;


.contained {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    .take {
        width: 43%;

        h4 {
            padding-top: 5%;
            padding-bottom: 5%;
        }

        p {
            color: $darkgrey;
            padding-bottom: 5%;
        }

        img {
            display: flex;
            width: 100%;
            margin-bottom: 5%;
        }

        .keya, .keyb, .keyc {
            display: flex;
            align-items: center;
            width: 90%;

            .c {
                font-weight: bold;
                margin-bottom: 10%;
            }

            span {
                display: flex;
                color: $darkgrey;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 5%;
            }

            p {
                margin-left: 10%;
                display: flex;
                flex-direction: column;
            }
        }
    }
    .note {
        width: 43%;
        background: #F0F5FF;
        .main {
            width: 79%;
            padding-left: 5%;

            .notea {
                margin-top: 10%;

            }
            .notec {
                margin-bottom: 10%;
            }
    
            .notea, .noteb, .notec {
                margin-left: 20%;
                display: flex;
                flex-direction: row;
                align-items: center;
    
                .a {
                    padding-bottom: 15%;
                }
    
                .b {
                    padding-bottom: 5%;
                }
    
                .c {
                    padding-bottom: 23%;
    
                }
    
                li {
                    // align-items: start;
                    font-size: 25px;
                    // border: solid;
                }
            }

        }



        
    }

}