

.sixthContainer {
    // position: absolute;
    // height: 0%;
    margin: 0 auto;
    width: 43%;

    h4 {
        margin-bottom: 5%;
    }

    p {
        margin-bottom: 5%;
    }

    .images {
        width: 100%;
        padding-bottom: 10%;

        img {
            width: 100%;
        }

    }


    .diff {

        img {
            padding-bottom: 3%;
        }

        p {
            width: 90%;
            // padding-bottom: 2%;
        }

        .solution {
            .drop {
                img {
                    width: 47%;
                }

                .dropA {
                    margin-right: 5%;
                }
            }
        }
    }

}

.images {
    width: 40%;
    // display: flex;
    flex-direction: row;
    // margin: 0 auto;


    img {
        margin: 0 auto;
        // display: flex;
        width: 43%;
        // vertical-align: top;
    }
}