

.sixthContainer {
    margin: 0 auto;
    width: 43%;

    h4 {
        margin-bottom: 5%;
    }

    p {
        margin-bottom: 5%;
    }

    .images {
        // position: absolute;
        width: 100%;
        padding-bottom: 15%;

        img {
            width: 30%;
        }

        .group {
            margin-right: 4%;
        }

        .dash {
            vertical-align: top;
            margin-right: 4%;
        }

        .suc {
            vertical-align: top;
        }

        .plants {
            margin-bottom: 41%;
        }

        .settings {
            position: absolute;
            left: 431px;
            top: 1017%;
            width: 13%;
            // margin-top: 20%;
        }

        .snake {
            padding-left: 4%;
        }

        .add {
            position: absolute;
            // padding-left: 4%;
            width: 13%;
            left: 57.7%;
            top: 972%;
            // vertical-align: top;
        }
    }


    .diff {

        img {
            padding-bottom: 3%;
        }

        p {
            width: 90%;
            // padding-bottom: 2%;
        }

        .solution {
            .drop {
                img {
                    width: 47%;
                }

                .dropA {
                    margin-right: 5%;
                }
            }
        }
    }

}

.images {
    width: 40%;
    // display: flex;
    flex-direction: row;
    // margin: 0 auto;


    img {
        margin: 0 auto;
        // display: flex;
        width: 43%;
        // vertical-align: top;
    }
}