* {
    margin: 0;
    padding: 0;
    
}

h4 {
    font-weight: 700;
    font-size: 26px;
    font-style: normal;

}

h6 {
    font-weight: 700;
    font-size: 26px;
    font-style: normal;
}

p {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}