@font-face {
  font-family: Futura-Bold;
  src: url(./fonts/Futura\ Bold.otf)
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Source Sans Pro;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
